.table-container {
  .table-header {
    display: flex;
    margin-bottom: 8px;

    .form-group {
      flex: 1;
      display: column;

      .form-fields {
        flex: 1;
        display: flex;
        gap: 8px;

        .observation-form-field,
        .reason-form-field {
          flex: 1
        }
      }

      .form-field-action {
        display: flex;
        justify-content: flex-end;
        flex: 1;
        gap: 8px
      }
    }
  }
}