.sidenav-container {
  // width: 500px;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sidenav {
  padding: 20px;
}

.example-spacer {
  flex: 1 1 auto;
}